#welcome_player
{
    color: #fff;
    font-size: 3rem;
    font-family: 'Balsamiq Sans', cursive; 
    text-align: center;
}

/*PLACE SHIP IMAGE IN A GRID*/
.ship__image
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative; 
    
}

/*PLACE SHIP IN 2ND(MIDDLE) GRID COLUMN*/
.ship__image > img, .ship__image > div
{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}

/*INSERT TEXT OVER THE SHIP IMAGE*/
.welcome_player
{
    position: absolute;
    color: #000;
    justify-self: center;
    margin-top: 80px;
    font-size: 2rem;
}