
/*HEADING STYLE*/
.instructions
{
    color: #fff;
    background-color: rgba(50, 50, 49, 0.75);
    padding: 30px;
    margin: 20px 150PX;
    font-family: 'Balsamiq Sans', cursive; 
}

/*PARAGRAPH*/
.instructions p
{
    padding: 10px;
    font-size: 1.2rem;
    text-align: justify;
}

/*LIST ITEMS*/
.instruction__list
{
    padding: 15px 40px;
    font-size: 1.2rem;
}