
.welcome p
{
    color: #ffffff;
    margin-top: 65px;
}

/*FORM STYLES*/
.player
{
    width: 100%;
    text-align: center;
    padding: 10px;   
}

input[type="text"]
{
    border: none;
    height: 40px;
    font-size: 24px;
   
}

/*LINK STYLES*/
.links
{
    text-align: center; 
    margin-top: 20px;
}

.links a
{
    background-color: #9ADE31;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-decoration: none;
}

.link:hover
{
    background-color: #fff;
    color: #000;  
}