
.welcome p
{
    color: #ffffff;
    margin-top: 65px;
}

/*FORM STYLES*/
.player
{
    width: 100%;
    text-align: center;
    padding: 10px;   
}

input[type="text"]
{
    border: none;
    height: 40px;
    font-size: 24px;
}


